body {
    background-color: black;
    -webkit-text-fill-color: white;
    text-decoration: none;
    text-decoration-line: none;
}

a {
    font-size: 45px;
    font-weight: bolder;
    color: white;
    text-decoration: none;
    text-decoration-line: none;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
    text-decoration-line: underline;
}
.list {
    font-size: 25px;
    color: white;
    text-decoration: none;
    text-decoration-line: none;
}

li {
    color: white;
    font-size: 30px;
}